@media screen and (max-width: 768px) {
    body {
        background-color: green;
    }
}
body{
	/*border-style: solid;
	border-radius: 5px;*/
	
	background-image: url(whiteback.jpeg);
	background-size: cover;
	/*background-position: left bottom, right top;
    background-repeat: repeat, repeat;*/
    text-align:center;
}
p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=password], input[type=email], input[type=text] {
    border: 2px solid blue;
    border-radius: 4px;
}
